body {
    color: white;
    font-size: 1.2em;
}

.grid-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 20px auto auto 30px;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "m m m m m m m m w w w w"
    "m m m m m m m m w w w w"        
    "f f f f f f f f f f f f";
}

.grid-header{
    grid-area: h;
    background-color: rgb(206, 33, 33);
}

.grid-nav{
    grid-area: n;
    background-color: rgb(194, 43, 214);
}

.grid-main{
    grid-area: m;
    background-color: rgb(0, 38, 255);
}

.grid-widget{
    grid-area: w;
    background-color: rgb(60, 172, 26);
}

.grid-footer{
    grid-area: f;
    background-color: rgb(231, 173, 14);
}

@media screen and (max-width: 700px) {  
    body {
        font-size: 1.3em;
   }

    .grid-container {  
    grid-template-areas:  
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "m m m m m m m m m m m m"
    "w w w w w w w w w w w w"
    "f f f f f f f f f f f f";
}
